* {
    /* height: 100%; */
    margin: 0px;
    /* background-color: #1E1E1E; */
}

html, body {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.app {
    width: 100%;
    background-color: #889C9B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 1rem;
    color: #889C9B;
    background-color: #1B1E24;
    text-align: center;
}

.counter {
    display: flex;
    justify-content: center;
    font-size: 450%;
}

.ui {
    display: flex;
    justify-content: space-around;
    background-color: #1B1E24;
    padding:0.5rem;
    padding-bottom: 10px;
    font-size: 50px;

}

#ui-stack{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

#button-plus, #button-minus, #button-reset {
    border: 0px;
    border-radius: 10px;
}

#button-plus {
    padding: 0.7rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: x-large;
    /* font-style:italic; */
}

#button-minus {
    margin-bottom: 0.3rem;
}

#button-minus, #button-reset {
    padding: 0.3rem;
    padding-left: 2rem;
}

